/* Initial behavior for container (form)*/


/* Adding width for the labels*/

body{
    background: #eee;
    color:rgb(83, 90, 97);
    padding: 50px o;
}


.container-news{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 200;
}
    .container-news * {
        box-sizing: border-box;
      }

.flex-outer
{
    border: solid;
    margin: 100px;
   
    
}

.flex-outer li
{
display: flex;
flex-wrap: wrap;
align-items: center;
margin-bottom: 30px;
margin-right: 80px;
margin-top: 10px;

}

.flex-outer input, textarea{
    width: 600px;
}

.flex-outer li label,
.flex-outer li p {
  flex: 1 0;
  max-width: 120px;
}

/* button styling*/

.flex-outer button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }

 