
*{
    font-family: verdana;
    margin: 0;
}

Body {
    background: #eee;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav{
    background:#D8D8D8;
}

nav ul{
    
    list-style-type: none;
    padding: 0; 
    padding-left: 40px;
    display: flex; 
}

nav li{
    text-decoration: none;
    color: black;
    display: block; 
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}
nav li:hover {
    color: orange;
}


/* main picture */
.wrapper
{
    display: flex; 
    position: relative;
}


.container
{
    position: relative;
    width: 100%;
}

img
{
width: 100%;
}

.concept{
    position: relative;
    left: 4%;
}

/*text on the front image*/
.head-text{
    background: #ffdab9;
    position: absolute;
    top: 150px;
    left: 900px;
    right: 20px;
    opacity: 0.5;
}

/* about section*/

.about {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    
  }
  /*Position relative on parent*/
    
 
  /*Position aboslute on childs */

/*Menu */
  .about-section-one{
    background-color: #D8D8D8;
    position: relative;
    height: 80%;
    width: 80%;
}

.head-text-one
{
    position: absolute;
    align-self: center;
    top: 70px;
    left: 200px;

}
.menu{
    top: 80px;
    left: 200px;
    position: absolute;
    transition: transform .2s;
    cursor: pointer; 
}

.zoom:hover {
    transform: scale(1.2); 

}
  .sign-up{
    position: absolute;
    align-self: center;
    top: 400px;
    left: 220px;

  }

  button
  {
    color: #fff !important;
    text-transform: uppercase;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    top: 80px;
    left: 200px;
  }


.about-section-two{
    background:orange;
    position: relative;
    height: 79%;
    width: 45%;
    border: solid;
}


/* Newsletter sign up*/
.container-news{

    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 600;
    top:500px;
}
    .container-news * {
        box-sizing: border-box;
      }

.flex-outer
{
    border: solid;
    margin: 100px;
   
    
}

.flex-outer li
{
display: flex;
flex-wrap: wrap;
align-items: center;
margin-bottom: 30px;
margin-right: 80px;
margin-top: 10px;

}

.flex-outer input, textarea{
    width: 600px;
}

.flex-outer li label,
.flex-outer li p {
  flex: 1 0;
  max-width: 120px;
}

/* button styling*/

.flex-outer button {
    color: #fff !important;
    text-transform: uppercase;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    top: 80px;
    left: 500px;
    margin-bottom: 2%;
  }


.footer {
    text-align: center;
    padding: 10px;
    background-color: #D8D8D8;
    color: black;
    width: 100%;
  }