
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

*{
    font-family: Tahoma, Geneva, sans-serif;
    margin:0;
    padding: 0;
}

body {
    background: #eee;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Navbar */
nav{
    background:#D8D8D8;
}

nav ul{
    
    list-style-type: none;
    padding: 0; 
    padding-left: 40px;
    display: flex; 
}

nav li{
    text-decoration: none;
    color: #282828;
    display: block; 
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}
nav li:hover {
    color: orange;
}

/* MAIN BACKGROUND */

.container-one
{
    width: 100%;
}

#burger-pic{
  width: 100%;  
}


/*text on the front image*/
.head-text{
    background-color: orange;
    color:  #282828;
    position: absolute;
    top: 200px;
    right: -250px;
    transform: translateX(-50%) translateY(-50%); 
    
}

h1 {
    font-size: 4.3em;
    letter-spacing: -4px;
    font-weight: 700;
    color: #7e2ea0;
    text-align: center;
}

.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.rotate { animation-name: rotate; animation-timing-function: ease-in-out }
@keyframes rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

/* ABOUT SECTION */

.about {
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
  }


/* ABOUT SECTION ONE MENU */
.about-section-one{
    background-color: #D8D8D8;
    position: relative;
    height: 50%;
    width: 80%;
}


.menu{
    color:  #282828;
    top: 60px;
    left: 200px;
    position: absolute;
    transition: transform .2s;
    cursor: pointer; 
}

.zoom:hover {
    transform: scale(1.2); 

}
.sign-up{
    position: absolute;
    align-self: center;
    top: 400px;
    left: 220px;

  }

  button
  {
    color: #fff !important;
    text-transform: uppercase;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    top: 80px;
    left: 200px;
    cursor: pointer;
    
  }

/*ABOUT SECTION ONE MENU SOCIAL MEDIA*/

.about-section-two{
    background:orange;
    display: flex;
    margin-top: 5%;
    width: 60%;
    border: solid;
    margin-right: 5%;
    margin-left: 5%;
}

.heading-two
{
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: -5%;
    
}
#hungry
{
    width: 100%;
    margin-top: -10%;
}

.social-text
{
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%; 
}

/* Social media buttons*/

.social-community
{
    padding-left: 35%;
    padding-bottom: 8%; 
}
.social-media{
    display: flex table-row;
}


.fa {
    padding: 10px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  

  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

 /* Instagram */
 .fa-instagram {
    background: #9b59b6;
    color: white;
  }



/* NEWSLETTER*/

.newsletter {
    background-color: #9b59b6;
    color: #282828;
	font-family: 'Open Sans', sans-serif;
    display: flex; 
    position: relative;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
    top: 90%;
    
}

.container {
	background-color: #fff;
    border-radius: 5px;
    z-index: 1337;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
    max-width: 100%;
    position: absolute;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
    text-transform: uppercase;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    top: 80px;
    left: 200px;
    width: 100%;
    cursor: pointer;
}

.fries1{
    display:flex;
    position: relative;
    left: 12%;

}


.burger1{
    display:flex;
    position: relative;
    left:-10%;

}
.awesome
{
    color: white;
    display: flex wrap;
    position: relative;
    bottom: 60%;
    left: 2%;
}
